/* Background colors and animation */
body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	font-family: 'Ranga', cursive;
	font-weight: bold;
	font-size: 28px;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Cloud text effect */
.cloud-text {
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/clouds.jpg);
	background-attachment: unset;
	background-position: 0%;
	animation: clouds-moving infinite 48s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	font-weight: bold;
	font-size: 55px;
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}


/* */
.jumbotron {
    background-color: rgba(34, 166, 214, .55);
}

.btn-ppl {
    color: #fff;
    background-color: rgba(0, 151, 151, .8);
	border-color: rgba(0, 151, 151, .8);
	font-size: 24px;
}

.btn-ppl:hover {
    background-color: rgba(0, 107, 107, 0.8);
}

.card {
    width: 20rem;
    display: inline-block;
    background-color: rgba(0, 151, 151, .8);
}

.card p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0px;
}

img {
    height: 200px;
    object-fit: cover;
}

input {
	font-family: 'Courier New', Courier, monospace;
}

.text-shadow {
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            	 0px 8px 13px rgba(0,0,0,0.1),
            	 0px 18px 23px rgba(0,0,0,0.1);
}

